
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: #111;
    color: #ddd;
    font-family: sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 800px;
    width: 100%;
    
}
h1{
    color: #c8a84b;
    font-size: 3rem;
    margin: 25px 0 50px 0;
    text-align: center;
}